*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial,sans-serif;
scroll-behavior:smooth;
}

body{

background:#0f172a;
color:white;

}

header{

position:fixed;
width:100%;
background:#111827;
padding:20px;

}

nav{

display:flex;
justify-content:space-between;
align-items:center;

}

nav ul{

display:flex;
gap:25px;
list-style:none;

}

nav a{

color:white;
text-decoration:none;

}

.hero{

display:flex;
justify-content:space-around;
align-items:center;
height:100vh;

}

.hero img{

width:320px;
border-radius:50%;
border:5px solid cyan;

}

.hero span{

color:cyan;

}

.btn,.btn2{

display:inline-block;
margin-top:20px;
padding:12px 25px;
background:cyan;
color:black;
text-decoration:none;
border-radius:30px;
margin-right:10px;

}

section{

padding:100px 10%;

}

h2{

text-align:center;
margin-bottom:40px;

}

.skill-box{

display:grid;
grid-template-columns:repeat(auto-fit,minmax(150px,1fr));
gap:20px;

}

.card{

background:#1e293b;
padding:25px;
text-align:center;
border-radius:12px;
transition:.3s;

}

.card:hover{

background:cyan;
color:black;
transform:translateY(-10px);

}

.projects{

display:grid;
grid-template-columns:repeat(auto-fit,minmax(300px,1fr));
gap:30px;

}

.project{

background:#1e293b;
padding:25px;
border-radius:10px;

}

.edu{

text-align:center;

}

footer{

background:#111827;
padding:20px;
text-align:center;

}

.social{

margin-top:20px;

}

.social a{

color:white;
font-size:28px;
margin:15px;

}